.home {
    position: relative;
    min-height: 80vh;
    margin-top: 2%;
    overflow: hidden;

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 500px;
        .name {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;

            h1 {
            font-size:  calc(24px + 30 * ((100vw - 320px) / 680));
            margin-bottom: 0;
            text-align: center;
            margin-right: -4rem;
            margin-top: -2rem;

             span {
            font-size:  calc(15px + 15 * ((100vw - 320px) / 680));
            text-align: center;
        }
            
            }
        .imgOuter {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 23.1rem;
            height: 27.4rem;
            background: rgba(150, 19, 150, 0.6);
            
            border-radius: 100%;
            background-image: url(../../assets/Imgme.svg);
        }
        .imgInner {
            width: 21.3rem;
            height: 24rem;
            
            ;
            border-radius: 100%;
        }
        
        
        
        }
     .btn {
         display: flex;
         width: 40%;
         margin-top: -5%;
         margin-left: -20%;
        }
     .btn_button {
        min-width: 10rem;
        min-height: 3rem;
        padding: 15px;     
        background: #FFFFFF;
        border: 1px solid #961396;
        
        font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', 'Oxygen';

        &:active, &:focus {
            outline: none;
            background-color: #961396;
            color: white;
        }
        &:hover {
            outline: none;
            -webkit-box-shadow: 0px 0px 40px -9px rgba(150,19,150,1);
            -moz-box-shadow: 0px 0px 40px -9px rgba(150,19,150,1);
            box-shadow: 0px 0px 40px -9px rgba(150,19,150,1);
        }
     } 
    }
    .buttom {
         width: 80%;
         margin: 0 auto;
         display: flex;
         justify-content: space-between;


         .swipe {
             width: 1.5rem;
             height: 1.5rem;
             margin-top: 8%;
             background-color: black;
             clip-path: polygon(100% 0, 0% 100%, 100% 100%);
             transform: rotate(45deg) translateY(0px);
             animation-name: swipe;
             animation-iteration-count: infinite;
             transition: all ease 50ms;
             animation-duration: 1.5s;
         }
         @keyframes swipe {
             0% {transform: translateY(15px) rotate(45deg);}
             25% {
                 transform: translateY(-15px) rotate(45deg);}
             50% { 
                transform: translateY(15px) rotate(45deg);}
             100% { 
                transform: translateY(-15px) rotate(45deg);}
         }
     }
}

@media screen and (max-width: 950px){
.home {
   .inner {

        .btn {
            margin-top: 4rem;
            margin-left: -40%;
        } 
        .name {
            margin-top: 9rem;

            h1 {
                font-size:  calc(35px + 30 * ((100vw - 320px) / 680));
                margin-left: -9rem;

                span {
                    font-size:  calc(20px + 15 * ((100vw - 320px) / 680));
                }
            }
            .imgOuter{
                position: absolute;
                right: -10vw;
                top: 10vw;   
            }
   }
} 

}
}

@media screen and (max-width: 768px) {
    
    .home .inner .name .imgOuter{
        right: -20vw;
    }
}

@media screen and (max-width: 668px) {
    .home .inner .name h1{
        font-size:  calc(30px + 30 * ((100vw - 320px) / 680));


        span {
            font-size:  calc(12px + 30 * ((100vw - 320px) / 680));
        }
    }
    .home .inner .name .imgOuter{
        right: -30vw;
    }

    .home .inner .btn {
            flex-direction: column;
            width: 50%;

            .btn_button {
                margin-left: 11%!important;
                margin-right: 0px!important;
                margin-top: 10%;
            }
        }
}

@media screen and (max-width: 550px) {
    .home .inner .name .imgOuter{
        right: -40vw;
    }
}